.testimonial {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.testimonial-left strong {
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--main-color);
}

.testimonial-left h2 {
    font-size: var(--h2-font);
    font-weight: 900;
    line-height: 1.2;
    margin: 20px 0;
    font-family: 'Open Sans Regular', sans-serif;
}

.testimonial-img img {
    width: 100%;
    max-width: 160px;
    height: auto;
    margin-bottom: 15px;
}

.testimonial-right h4 {
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 8px;
    font-family: 'Open Sans Regular', sans-serif;
}

.testimonial-right h6 {
    color: var(--main-color);
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 20px;
}

.testimonial-right p {
    font-size: var(--p-font);
    line-height: 32px;
    color: var(--other-color);
}