.menu-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 2.5rem;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
    box-shadow: -1px 15px 26px -4px rgb(161 151 151 / 15%);
    border-radius: 0.7rem;
    padding: 30px 20px;
    cursor: pointer;
    transition: all ease .50s;
}

.row-img {
    width: 180px;
    height: 180px;
    margin-bottom: 15px;
}

.row-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0.5rem;
}

.row h6 {
    font-size: 15px;
    font-weight: 800;
    color: var(--main-color);
    margin: 10px 0;
}

.row h5 {
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 18px;
    font-weight: 900;
}

.row:hover {
    transform: translateY(-10px);
}

.menu-bttn {
    text-align: center;
    margin-top: 4rem;
}